:root {
  --addapps-blue: #133596;
  --addapps-pink: #bf2ab8;
  --addapps-grey: #ebecee;
}

header {
  border: unset !important;
}

footer {
  border: unset !important;
}

a.text-secondary {
  color: var(--addapps-blue) !important;
}

a.text-secondary:hover,
a.text-secondary::before  {
  color: var(--addapps-pink) !important;
}

input {
  border: 1px solid var(--addapps-blue) !important;
  border-radius: unset !important;
}

a.btn.btn-primary,
button.btn-success {
  background: var(--addapps-blue) !important;
  border: none !important;
  border-radius: unset !important;
}

a.btn.btn-primary:hover,
a.btn.btn-primary:active,
a.btn.btn-primary:focus,
button.btn-success:hover,
button.btn-success:active,
button.btn-success:focus {
  background: var(--addapps-pink) !important;
  border: none !important;
  border-radius: unset !important;
}

.alert {
  border-radius: unset;
}

.card {
  border: 1px solid var(--addapps-blue);
  border-radius: unset;
  color: var(--addapps-blue);
}

.card .card-header {
  border-bottom: 1px solid var(--addapps-blue);
  border-radius: unset;
  background: white;
}

.card .card-header.bg-best {
  background: var(--addapps-blue) !important;
}

.card .card-footer {
  border-top: 1px solid var(--addapps-blue);
  border-radius: unset;
  background: white;
}